[Unit]
Description=cmgr artifact server
Documentation=https://github.com/picoCTF/cmgr-artifact-server
ConditionArchitecture=x86-64
ConditionPathIsDirectory={{ cmgrd_artifact_dir }}

[Service]
Type=exec
Environment="CMGR_ARTIFACT_DIR={{ cmgrd_artifact_dir }}"
ExecStart={{ install_location }}/cmgr-artifact-server -b {{ artifact_server_backend }} {{ artifact_server_other_options }}

[Install]
WantedBy=multi-user.target
