[Unit]
Description=cmgr artifact server
Documentation=https://github.com/picoCTF/cmgr-artifact-server
Wants=docker.service
Wants=cmgrd.service
After=docker.service
ConditionArchitecture=x86-64
ConditionDirectoryNotEmpty={{ artifact_server_dir }}

[Service]
Type=simple
WorkingDirectory={{ artifact_server_dir }}
ExecStart="docker compose up --build -d"

[Install]
WantedBy=multi-user.target
