{
    "hosts": ["unix:///var/run/docker.sock"{% if tls_access %}, "tcp://0.0.0.0:2376"{% endif %}],
    {% if tls_access %}
    "tlsverify": true,
    "tlscacert": "{{ ca_cert_path }}",
    "tlscert": "{{ server_cert_path }}",
    "tlskey": "{{ server_key_path }}",
    {% endif %}

    {% if storage_quotas %}
    "data-root": "{{ storage_mount_point }}",
    {% endif %}
    "storage-driver": "overlay2",

    "cgroup-parent": "{{ parent_cgroup }}",
    "exec-opts": ["native.cgroupdriver=systemd"],

    "containerd": "/run/containerd/containerd.sock"
}
