[Unit]
Description=Sets Docker network iptables rules
Documentation=https://github.com/picoCTF/ansible-roles
Wants=docker.service
After=docker.service
ConditionPathExists={{ iptables_script_path }}

[Service]
Type=oneshot
ExecStart={{ iptables_script_path }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
