---

- include_tasks: upgrade.yml
  when: (upgrade_packages != "no") and (upgrade_packages != False)
  args:
    apply:
      become: yes

- include_tasks: journald.yml
  args:
    apply:
      become: yes

- include_tasks: sysctls.yml
  args:
    apply:
      become: yes

- include_tasks: hostname.yml
  when: hostname | default(None) is not none
  args:
    apply:
      become: yes
