[Unit]
Description=CloudWatch Agent
Documentation=https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Install-CloudWatch-Agent.html
ConditionArchitecture=x86-64

[Service]
Type=forking
ExecStart=/opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -a fetch-config -m ec2 -s -c file:{{ config_file_path }}

[Install]
WantedBy=multi-user.target
